body{
    background-image: url(https://cdn.discordapp.com/attachments/757615949451886612/795411498847567912/SPOILER_water.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover; 
    font-size: large;
    
}


.navbar-dark{
    background-color: #2E8BC0;
    text-align: center;
}

.name{
    text-align: center;
    padding-right: 4rem;
}

.nav-item{
    text-align: center;
    background-color: #145DA0;
    border-radius: 20px;
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

    
.container{
    margin: 0px;
    width: auto;
    margin-left: auto;
}
.row{
    font-size: 2rem;
    margin-top: 10px;
    margin-right: 3rem;
}


.name{
    margin-left: 1rem;
    color: white;
}
button{
    border-radius: 10px;
    color: white;
    background-color: #145DA0;
}
    
a {
    color: #ffffff !important;
    text-decoration: none
  }
.main{
    display: flex;
    flex-direction: row;
}

.hi{
    display: inline-block;
    white-space: nowrap;
    background-color: #2E8BC0;
    border-radius: 20px;
    padding: 1rem;
    color: #ffffff;
    margin-left: 6.5rem;
    text-align: center;
    margin-top: 1rem;
    
}

.info{
    display: inline-flex;
    background-color: #145DA0;
    border-radius: 20px;
    flex-direction: column;
    color: #ffffff;
    padding-right: 1rem;
    padding-bottom: 1rem;
    float: left;
    margin-left: 1rem;
}

.name_head{
    text-align: center;
}

.out{
    color: black;
    background-color: #ffffff;
    border-radius: 20px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: auto;
}

.btn_info{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
}

.info_out{
    margin-top: 1rem;
    padding-left: 1rem;
}

.surv{
    display: inline-block;
    margin-left: 25%;
    
    float: none;
    flex-direction: column;
}

.title_surv{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #145DA0;
    padding: 1rem;
    border-radius: 20px;
    margin-left: 5rem;
}

.block_surv{
    background-color: #145DA0;
    color: #ffffff;
}
ul.table_title li{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    list-style-type: none;
    padding: 3px;
}