<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_style.css' %}" />
    <title>Title</title>
</head>
<body>
    {% include 'menu.html' with auth_state=1 %}
    <div class="container" style="color: white;">
        <div class="row">
            <div class="login-window" style="width: auto;">
                <h3 style="text-align: center; font-size: larger; padding-bottom: 1rem;">Enter new password</h3>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-froup col-lg-auto">
                        {% for field in form %}
                        <p>
                            {{ field.label }}
                            {{ field }}
                        </p>
                        {% endfor %}

                        <p>
                            {{ form.errors }}
                        </p>

                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}

                        <input type="submit" class="btn btn-primary" name="Restore" value="Restore">
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>