<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <title>Title</title>
</head>
<body>
    <section class="container-fluid bg">
        <section class="row justify-content-center">
            <section class="col-3">
                <section class="form-container">
                    <h3>Account access restoration</h3>

                    <form method="POST" action="">
                        {% csrf_token %}
                        <p>
                            <input type="text" id="Digit1" name="Digit1" maxlength="1" oninput="checkInput(this)">
                            <input type="text" id="Digit2" name="Digit2" maxlength="1" oninput="checkInput(this)">
                            <input type="text" id="Digit3" name="Digit3" maxlength="1" oninput="checkInput(this)">
                            <input type="text" id="Digit4" name="Digit4" maxlength="1" oninput="checkInput(this)">
                            <input type="text" id="Digit5" name="Digit5" maxlength="1" oninput="checkInput(this)">
                            <input type="text" id="Digit6" name="Digit6" maxlength="1" oninput="checkInput(this)">
                        </p>
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" id="Confirm" value="Confirm">
                    </form>
                </section>
            </section>
        </section>
    </section>

<script type="text/javascript">
    function checkInput(component){
        component.value=component.value.replace(/[^0-9]/g,'');
        if (component.value.length != 0){
            var currentNum = parseInt(component.id[component.id.length - 1]);
            if (currentNum != 6){
                document.getElementById(`Digit${currentNum + 1}`).focus();
            }
            else{
                document.getElementById('Confirm').focus();
            }
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>