<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TEST</h1>
<br>

{% if request.user.is_authenticated %}
    <p>Hello, {{ request.user }}</p>
    <p>Email confirmation status: {{ userProperties.email_verified }}</p>
    {% if not userProperties.email_verified %}
    Want to verify your email? <button><a href="{% url 'user_register_email_confirm' %}">Confirm it</a></button>
    <br>
    {% endif %}
    <button><a href="{% url 'user_logout' %}">Log out</a></button>
    <hr>
    <p></p>
    <p>Recent surveys</p>
    <table>
        <tr>
            <td>Title</td>
            <td>Rating</td>
        </tr>
        {% for survey in topSurveys %}
        <tr>
            <td><a href="{% url 'survey_pass'%}?survey={{survey.url}}">{{survey.title}}</a></td>
            <td>{{survey.rating}}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% include 'menu.html' %}

</body>
</html>