<br>
<hr>
<h3>Site navigation</h3>
<ul>
    <li>
        <a href="{% url 'main' %}">Main page</a>
    </li>
    {% if not request.user.is_authenticated %}
    {% if auth_state != 1 %}
    <li>
        <a href="{% url 'user_register' %}">Registration</a>
    </li>
    {% endif %}
    {% if auth_state != 2 %}
    <li>
        <a href="{% url 'user_login' %}">Authorization</a>
    </li>
    {% endif %}
    {% else %}
    <li>
        <a href="{% url 'survey_creation' %}">Create survey</a>
    </li>
    {% endif %}
    {% if request.user.is_staff and checking_complaints != 1 %}
    <li>
        <a href="{% url 'complaints_check' %}">Check complaints</a>
    </li>
    {% endif %}
</ul>